code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Conteúdo de core/variaveis.css */
:root {
  --titulos: "Audiowide", cursive;
  --p-font: "Roboto Mono", monospace;
  --bg-color: #21192c;
  /* ...outras variáveis */
}

/* Estilos globais de body.css */
body {
  color: white;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Outros estilos globais que você queira aplicar */